@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?37642548');
    src: url('../fonts/fontello.eot?37642548#iefix') format('embedded-opentype'),
    url('../fonts/fontello.woff?37642548') format('woff'),
    url('../fonts/fontello.ttf?37642548') format('truetype'),
    url('../fonts/fontello.svg?37642548#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-eye:before {
    content: '\e800';
}

.icon-dealers:before {
    content: '\e801';
}

/* '' */
.icon-report:before {
    content: '\e802';
}

/* '' */
.icon-pencil-squared:before {
    content: '\e803';
}

/* '' */
.icon-off:before {
    content: '\e804';
}

/* '' */
.icon-list:before {
    content: '\e805';
}

/* '' */
.icon-cab:before {
    content: '\e806';
}

/* '' */
.icon-floppy:before {
    content: '\e807';
}

/* '' */
.icon-trash-empty:before {
    content: '\e808';
}

/* '' */
.icon-cancel-circled:before {
    content: '\e809';
}

/* '' */